<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Database.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Port=5432;Database=mckkwsfs;Username=mckkwsfs;Password=LN6I-UIiHXA16XkjFtvBbA_x03Q6TeWs;Search Path=moviedb;Host=elmer-02.db.elephantsql.com</value>
            </setting>
        </Database.Properties.Settings>
    </applicationSettings>
</configuration>